body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: wheat;
}

header {
    background-color: transparent;
    color: black;
    text-align: center;
    padding: 20px;
}

main {
    padding: 20px;
    text-align: center;
}

.password-container {
    margin-bottom: 20px;
}

#password {
    width: 90%;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.options {
    text-align: left;
}

footer {
    background-color: transparent;
    color: black;
    text-align: center;
    padding: 10px;
    bottom: 0;
    margin-bottom: 0;
}
